# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=''
# Authentication
JWT_SECRET=''
JWT_EXPIRES_IN=7d
JWT_ISSUER=backend-service
JWT_AUDIENCE=frontend-service

# OpenAI
OPENAI_API_KEY=sk-...

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Client (for CORS)
CLIENT_URL=http://localhost:3000
